<footer>
  <div class="footer-container">
    <div class="theme-layout">
      <div>
        Theme by <a href="http://yxping.github.io/">yxp</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      </div>
      <iframe src="https://ghbtns.com/github-btn.html?user=yxping&repo=yxping.github.io&type=star&count=true"
      frameborder="0" scrolling="0" width="80px" height="20px">
      </iframe>
    </div>
  </div>
</footer>

<!-- Vue Component -->
<script src="/assets/bundle.js"></script>

<script type="text/javascript">
  var duoshuoQuery = {short_name:"yxpeng"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
  <!-- 多说公共JS代码 end -->
</script>
