.wrapLayout a {
  text-decoration: none;
}

.articleInfoLayout {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin-top: 20px;
}

.articleInfoLayout:hover .title{
  color: #55AA88;
}

.articleInfoLayout:hover .articleSelected{
  display: flex;
}

.titleLayout {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.articleSelected {
  display: none;
  color: #55AA88;
  margin-right: 20px;
}

.date {
  color: #999;
  font-size: 13px;
  margin: 0;
  font-weight: 400;
}

.title {
  color: #555;
  font-size: 20px;
  margin: 0;
  margin-left: 30px;
  font-weight: 400;
}

.synopsis {
  margin-top: 20px;
  color: #555;
}

.articleInfoLine {
  background-color: #e6e6e6;
  height: 1px;
  margin-top: 20px;
}
