.wrapLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigatorLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  width: 720px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.headLayout {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.headImg {
  width: 40px;
  height: 40px;

}

.smallHeadLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.smallBtnLayout {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  color: #999;
}

.smallBtnLayout:hover {
  color: #55AA88;
}
.smallBtnLayout:hover .smallBtnFollowOption{
  color: #55AA88;
}

.smallBtnFollowOption {
  margin-left: 5px;
  text-decoration: none;
  color: #999;
}

.navigatorBtnGroupLayout {
  display: flex;
  flex-direction: row;
}

.navigatorBtnLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.navigatorText {
  font-size: 18px;
}

.navigatorText {
  opacity: 0.5;
}

.navigatorTextUnderline {
  background-color: #55AA88;
  height: 4px;
  align-items: stretch;
}
