<footer>
  <div class="footer-container">
    <div class="footer-list">
      <ul>
        {% if site.github_site %}
        <li>
          <a href="{{ site.github_site }}">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </li>
        {% endif %}

        {% if site.weibo_site %}
        <li>
          <a href="{{ site.weibo_site }}">
            <span class="footer-icon-wrap">
              <i class="fa fa-weibo fa-2x"></i>
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <p class="copyright">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
      <br>
      Theme by <a href="http://yxping.github.io/">YXP</a> |
      <iframe
        style="margin-left: 2px; margin-bottom:-5px;"
        frameborder="0" scrolling="0" width="91px" height="20px"
        src="https://ghbtns.com/github-btn.html?user=yxping&repo=YXP-Blog&type=star&count=true" >
      </iframe>
    </p>
  </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<script type="text/javascript">
  var duoshuoQuery = {short_name:"yxpeng"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
  <!-- 多说公共JS代码 end -->
</script>
