---
layout: default
---
<div class="detail-container-layout">
  <h2 > {{ page.title }}</h2>
  <div class="content-container-layout">
    <div class="content-container">
      {{ content }}
    </div>
    <div id="toc" class="toc-layout"></div>
  </div>
  {% if page.duoshuo_key %}
  <!-- 多说评论框 start -->
  <div class="duoshuo">
    <div class="ds-thread" data-thread-key="{{page.duoshuo_key}}" data-title="{{page.title}}" data-url="{{site.url}}{{site.baseurl}}{{page.url}}"></div>
  </div>
  {% endif %}
  <!-- 多说评论框 end -->
</div>

<script src="/js/toc.js"></script>

<script type="text/javascript">
  // 生成目录toc
  $(document).ready(()=> {
      $('#toc').toc({ classes: { list: '',
                           item: 'toc-item',
                           itemSelected: 'toc-item-arrived'
                         }
              });
  });
  // toc目录悬浮效果
  var tocFixedOnScroll = function() {
    var contentLayout = document.getElementsByClassName('content-container-layout')[0];
    var tocLayout = document.getElementById('toc');
    if (document.body.scrollTop + 40 >= contentLayout.offsetTop) {
      tocLayout.className = ' toc-layout-fixed';
    } else {
      tocLayout.className = ' toc-layout';
    }
  };
  window.addEventListener("scroll", tocFixedOnScroll);

  // 多说公共JS代码 start (一个网页只需插入一次)
  // var $navigator = document.querySelector(".navigator-wrap");
  // $navigator.style.backgroundColor = "darkgray";
</script>
