body {
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 16px;
  margin: 0px;
  color: #404040;
  overflow-x: hidden;
}

/* error页面*/
.page-fullscreen footer {
  opacity: 0.6;
  color: #fff;
}
.page-fullscreen footer .footer-container {
  position: fixed;
}

.page-fullscreen footer .copyright {
  color: #fff;
}
.page-fullscreen footer .copyright a {
  color: #fff;
}
.page-fullscreen footer .copyright a:hover {
  color: #ddd;
}

.error-background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  background-attachment: scroll;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-derection: column;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  max-width: 100%;
}

.subheading {
  font-size: 20px;
  color: white;
  display: block;
  margin-top: 10px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  position: fixed;
  padding-bottom: 150px;
  left: 0;
  top: 0;
}

.center h1{
  font-size: 45px;
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
}

/* navigator css */
.navigator-wrap{
  display: block;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.navigator-blog-name{
  font-weight: 700;
  color: #fff;
  line-height: 25px;
  float: left;
  font-size: 18px;
  margin-left: 15px;
  margin-top: 15px;
  text-decoration: none;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

.float-icon {
  display: flex;
  flex-direction: column;
  float: right;
  background-color: transparent;
  background-image: none;
  padding: 15px 16px;
  border-color: transparent;
}

.float-icon:active {
  background-color: #333;
}


.float-icon:focus {
  outline: 0;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 2px;
  margin-top: 5px;
  background-color: white;
}

.menu-ul {
  list-style: none;
  padding-left: 10px;
  line-height: 50px;
}

.menu-ul a {
  text-decoration: none;
  color: black;
}
@media only screen and (min-width: 767px) {
  .float-icon {
    display: none;
  }

  #navigator-menu {
    float: right;
    padding-right: 10px;
    position: relative;
    z-index: 101;
    margin-bottom: 15px;
  }

  .navigator-menu-toggle {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0px;
  }

  .menu-ul {
    line-height: normal;
  }

  .menu-ul li{
    float: left;
    margin-right: 35px;
  }

  .menu-ul a {
    font-weight: 700;
    color: white;
  }
}

@media only screen and (max-width: 767px) {

  .navigator-menu-toggle {
    background-color: white;
    border-width: thin;
    border-color: black;
    overflow-x: visible;
    display: block;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
    border-radius: 2px;
    width: 170px;
  }

  #navigator-menu {
    float: right;
    margin-top: 50px;
    margin-right: 15px;
    height: 0px;
    opacity: 0;
  }

  #navigator-menu a {
    font-size: 13px;
    line-height: 28px;
  }

  #navigator-menu {
    transform: scaleX(0) scaleY(0);
    transform-origin: top right;
    -webkit-transform: scaleX(0) scaleY(0);
    -webkit-transform-origin: top right;
  }

  #navigator-menu li {
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  #navigator-menu.in {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  #navigator-menu.in li {
    opacity: 1;
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
    -webkit-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
  }

  #navigator-menu.out {
      transform: scaleX(0) scaleY(0);
      transform-origin: top right;
      transition: all 300ms cubic-bezier(1, 0.23, 0.32, 1) 0ms;
      -webkit-transform: scaleX(0) scaleY(0);
      -webkit-transform-origin: top right;
      -webkit-transition: all 300ms cubic-bezier(1, 0.23, 0.32, 1) 0ms;
  }
}

/* footer css */
.footer-container {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-container p {
  color: black;
  font-size: 13px;
  text-align: center;
  margin: 0px;
}

.footer-container a {
  color: black;
}

.footer-list {
  background-color: transparent;;
  display: flex;
  justify-content: center;
}

.footer-list ul {
  display: block;
  background-color: white;
  padding-left: 20px;
  padding-right: -20px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  border-radius: 10px;
  opacity: 0.3;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
  line-height: normal;
}

.footer-list li {
  float: right;
  margin-right: 20px;
}

.theme-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #555;
}

/* 首页 */
.main-page-header {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  float: none;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  background-color: #888;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.main-page-title {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
}

.main-page-title h1 {
  color: white;
  display: block;
  margin: 0px 0px;
  font-size: 35px;
}

.main-page-title span {
  color: white;
  font-size: 20px;
  line-height: 1.1;
}

.main-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-page-headimg {
  display: none;
  border-radius: 50%;
  margin-bottom: 15px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
}

@media only screen and (min-width: 768px) {
  .main-page-title {
    padding: 150px;
  }

  .main-page-title h1 {
    font-size: 45px;
  }

  .main-page-headimg {
    display: block;
    width: 120px;
    height: 120px;
  }
}

@media only screen and (min-width: 992px) {
  .main-page-header {
    background-repeat: repeat-x;
  }
  .main-page-title {
    padding: 150px;
  }

  .main-page-title h1 {
    font-size: 45px;
  }

  .main-page-headimg {
    display: block;
    width: 150px;
    height: 150px;
  }
}

/*页面内容*/
.post-list-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-list-container hr {
  color: rgba(0, 0, 0, 0.2);
}

.post-list-preview {
  position: relative;
  margin-top: 0;
}

.post-list-preview a {
  text-decoration: none;
}

.post-list-preview a:hover .post-title{
  color: lightgray;
}

.post-list-preview a:hover .post-subtitle{
  color: lightgray;
}

.post-title {
  color: black;
  margin-bottom: 5px;
  margin-top: 10px;
}

.post-subtitle {
  font-size: 15px;
  color: #777;
  margin-top: 0px;
}

.post-content-preview {
  color: #222;
}

.post-content-preview:hover {
  color: lightgray;
}

/* 文章样式 */
.detail-container-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container-layout {
  display: flex;
  flex-direction: row;
}

.content-container {
  width: 750px;
}

.toc-item a{
  text-decoration: none;
  color: #777;
}

.toc-item:hover > a{
  text-decoration: underline;
  color: black;
}

.toc-item-arrived > a {
  text-decoration: none;
  color: white;
  background: #55AA88;
  padding: 2px 4px;
}

.toc-item-arrived:hover > a {
  text-decoration: underline;
  color: black;
  background: transparent;
  padding: 0px;
}

.toc-layout {
  position: absolute;
  width: 200px;
  margin-left: 770px;
  border-left-style: solid;
  border-color: #666;
  border-width: 1px;
}

.toc-layout-fixed {
  position: fixed;
  top: 40px;
  width: 200px;
  margin-left: 770px;
  border-left-style: solid;
  border-color: #666;
  border-width: 1px;
}

.duoshuo {
  width: 750px;
  padding: 15px 30px;
}
